@page "/careers"
@{
    ViewBag.Title = "Job Opportunities";
     ViewBag.NavButtonNames = "careers-nav-btn";
}
<div class="page-name">
    <h1>JOB OPPORTUNITIES</h1>
</div>
@section head{
    <meta name='description' content='We take pride in our ever-growing passionate and hardworking team. Explore our job availabilities now.' />
}
<div class="faded-img-behind top-bottom-padding left-right-padding">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="job-container">
                <h2 class="body-title">Fleet Manager</h2>
                <div class="f7">
                    You will work as part of our Transport Team and be responsible for the Fleet Management including Inspections, 
                    Defects, and a full maintenance programme, ensuring it is scheduled and completed efficiently, effectively, and 
                    so we are compliant according to the road haulage laws and FORS Gold at all times. 
                    It will be crucial that all planned maintenance adheres to a minimal down time to each vehicle.
                    <hr>
                    We have our own on-site workshop; you will be responsible for coordinating a team of Technicians and be their direct 
                    Line Manager. You will order all relevant parts applicable to the Fleet Maintenance and have a line of 
                    communication with the accounts department, issue order numbers and sign off purchase invoices, according to Company policy.
                    <hr>
                    This is a Monday to Friday position with 6am starts preferred and a basic 50-hour week, with a one in four Saturday morning 
                    attendance required as part of the rota. Some flexibility is expected when needed and additional hours will from time to time 
                    be required to cover the workload, you will also assist the transport office with holiday cover.
                    <hr>
                    Salary will be based upon experience and discussed at an interview only, should you be selected to attend. You will 
                    be required to complete a trial period should you be the successful candidate.
                    <hr>
                    Mechanical experience is essential, ideally you will be from a transport background with sound knowledge of compliance laws.
                    <hr />
                    To apply please email your CV and any relevant certificates to <a href="mailto:ben@holbrookgroup.co.uk">emma@holbrookgroup.co.uk</a> or call <a href="tel:01953718306">01953718306</a> and ask for Emma.
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mt-lg-0 mt-3">
            <div class="job-container">
                <h2 class="body-title">Grab Lorry Operator</h2>
                <div class="f7">
                    Rory J Holbrook Ltd are recruiting experienced Grab Lorry Operators. Immediate starts available. Local and away work available.
                    <hr />
                    Reference ID: Grab Lorry Operator.
                    <hr />
                    Full PPE supplied.
                    <hr />
                    Good rates of pay with generous bonus scheme.
                    <hr />
                    COVID-19 considerations:
                    All staff and site visitors are wearing face coverings when moving in and around the premises at all times.
                    <hr />
                    Please call <a href="tel:01953718306">01953718306 </a> and ask for either Ben or Jake or email <a href="mailto:ben@holbrookgroup.co.uk">ben@holbrookgroup.co.uk</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-12 mt-lg-4 mt-3">
            <div class="job-container">
                <h2 class="body-title">Class 1 and Class 2 Tipper Drivers</h2>
                <div class="f7">
                    Rory J Holbrook Ltd are recruiting experienced Class 1 and class 2 Tipper drivers. Immediate starts available. Local and away work available.
                    <hr />
                    Reference ID: Class 1 and class 2 Tipper drivers
                    <hr />
                    Full PPE supplied.
                    <hr />
                    Good rates of pay with generous bonus scheme.
                    <hr />
                    COVID-19 considerations:
                    All staff and site visitors are wearing face coverings when moving in and around the premises at all times.
                    <hr />
                    Please call <a href="tel:01953718306">01953718306 </a> and ask for either Ben or Jake or email <a href="mailto:ben@holbrookgroup.co.uk">ben@holbrookgroup.co.uk</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script>
        $('.job-opportunities').hide()

        $('#careers-nav-btn').css('color', 'black').css('font-weight', 'bold');
    </script>
}
