@page "/responsibilities"
@{
    ViewBag.Title = "Responsibilities";
    ViewBag.NavButtonNames = "responsibilities-nav-btn";
}
<meta name='description' content='It is always our  main aim to be as environmentally friendly as the industry allows. With this in mind we have many protocols and procedures in place for this to happen.' />
<meta name='keywords' content='health and safety, environmental, sustainability, waste carrier licence,  management' />

<div class="faded-img-behind">
    <div class="row top-bottom-padding">
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="responsibilities-box-container">
                        <div class="responsibilities-box-header">
                            <h4>@*<i class="far fa-plus-square pr-2"></i>*@<i class="fas fa-ambulance pr-2"></i>Health and Safety</h4>
                        </div>
                        <div class="responsibilities-box-body">
                            <p>
                                Rory J Holbrook Ltd recognises that our people are our most valuable asset and that the provision of a safe and healthy
                                working environment is essential to successful business performance and sustained growth. This is reinforced through our
                                extensive occupational health provision and health and safety training programmes run throughout the year. We are constantly
                                aiming to continually improve our health and safety management schemes.
                                <br /><br />
                                Most recently we have been awarded Cemex UK’s, ‘Certificate of Recognition’ for the outstanding commitment to workplace
                                safety, and driver and health wellbeing, Beyond the normal scope of operational requirements. Showing how dedicated Rory
                                J Holbrook Ltd are in the practise of health and safety in the workplace.
                                <br /><br />
                                Please see below for a downloadable version of our health and safety policy.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12 mt-lg-0 mt-4">
                    <div class="responsibilities-box-container">
                        <div class="responsibilities-box-header">
                            <h4><i class="fas fa-globe-americas pr-2"></i>Environmental</h4>
                        </div>
                        <div class="responsibilities-box-body">
                            <p>
                                Rory J Holbrook Ltd understand that our operations will have varying impacts on the environment, however by putting
                                sustainability first, we can reduce our impact on the environment, also reduce costs for our ever growing customer
                                base. We manage this through our Environmental Management System. This is a process we follow which ensures we achieve
                                all legislative compliance and which also monitors and tracks every aspect of our business to make sure we are operating
                                at the highest sustainable level.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-lg-5 mt-4">
                    <div class="responsibilities-box-container">
                        <div class="responsibilities-box-header">
                            <h4><i class="fas fa-recycle pr-2"></i>Sustainability</h4>
                        </div>
                        <div class="responsibilities-box-body">
                            <p>
                                Rory J Holbrook Ltd realises the effects and impacts its activities can have on local communities and environments in
                                the execution of its daily activities.
                                <br /><br />
                                It is our policy to maximise the usage of varying types of transport where possible to minimize the effects on the
                                environment, for example rail where available. Our proven transport strategy significantly reduces emissions using
                                the lower impact bulk transport methods.
                                <br /><br />
                                Rory J Holbrook Ltd modern fleet of vehicles are on average under 5 years old and are constantly being replaced in
                                order to ensure the operation of modern clean and fuel-efficient vehicles. Over 50% of the fleet meets Euro IV or
                                higher standards, with the majority of the remaining fleet exceeding Euro V standards.
                                <br /><br />
                                Throughout our aggregates network, we plan and aim to assist carefully to ensure a healthy balance between the use
                                of raw primary materials and protecting the environment by the increased use of recycled materials, such as Type 1
                                Crushed Concrete and 6f2 Crushed Hardcore. As well as the supply of this material we operate several recycling centres
                                where this material is produced, making it readily available for our customers.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="responsibilities-box-container mt-lg-5 mt-4">
                        <div class="responsibilities-box-header responsibilities-box-blue">
                            <h3><i class="far fa-save pr-2"></i>Documents<small class="pl-2">(click a file below to download)</small></h3>
                        </div>
                        <div class="responsibilities-box-body">
                            <div class="row justify-content-center download-container">
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                    <a href="#" class="btn btn-standard"><i class="fas fa-arrow-down"></i><p>Credit Application Form<br /><small><i>5.8 MB</i></small></p></a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mt-sm-0 mt-4">
                                    <a href="#" class="btn btn-standard"><i class="fas fa-arrow-down"></i><p>Waste Carrier Licence<br /><small><i>32 KB</i></small></p></a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mt-lg-0 mt-4">
                                    <a href="#" class="btn btn-standard"><i class="fas fa-arrow-down"></i><p>TASSC Certificate<br /><small><i>0.9 MB</i></small></p></a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mt-xl-0 mt-4">
                                    <a href="#" class="btn btn-standard"><i class="fas fa-arrow-down"></i><p>FORS Silver Certificate<br /><small><i>0.3 MB</i></small></p></a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mt-4">
                                    <a href="#" class="btn btn-standard"><i class="fas fa-arrow-down"></i><p>Acclaim SSIP Certificate<br /><small><i>0.2 MB</i></small></p></a>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12 mt-4">
                                    <a href="#" class="btn btn-standard"><i class="fas fa-arrow-down"></i><p>Construction Line Gold<br /><small><i>0.2 MB</i></small></p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@*<div class="container">
        <div class="card mt-4">
            <div class="card-header bg-dark text-light">
                <span><i class="fas fa-file-download pr-2"></i>Documents<small class="pl-2">(click a file below to download)</small></span>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 dl-div">



                        <button class="btn btn-default"><i class="fas fa-arrow-down pr-2"></i><span>Acclaim SSIP Certificate</span></button>
                        <button class="btn btn-default"><i class="fas fa-arrow-down pr-2"></i><span>Construction Line Gold</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

@section scripts{
    <script>

        $('.responsibilities-box-body').matchHeight();

        $('#responsibilities-nav-btn').css('color', 'black').css('font-weight', 'bold');

    </script>
}

