<rewriteMaps>
	<rewriteMap name="Redirects">
		<add key="/construction-services/muckaway" value="/material-removal/muckaway" />
		<add key="/construction" value="/construction-services" />
		<add key="/construction/earthworks" value="/earthworks" />
		<add key="/construction/earthworks/bulk-earthworks" value="/earthworks/bulk-earthworks" />
		<add key="/construction/earthworks/surveying-and-engineering" value="/earthworks/surveying-and-engineering" />
		<add key="/construction/aggregates/aggregate-supply" value="/aggregates/aggregate-supply" />
		<add key="/construction/material-removal" value="/material-removal" />
		<add key="/specialist-haulage/tipper-hire" value="/road-haulage/tipper-hire" />
		<add key="/specialist-haulage/low-loader" value="/plant-services/low-loader-hire" />
		<add key="/haulage-services/tipper-hire" value="/road-haulage/tipper-hire" />
		<add key="/haulage/road-haulage/tipper-hire?tipper-type=8-wheel-steel-body" value="/road-haulage/tipper-hire#8-wheel-steel-body" />
		<add key="/haulage/road-haulage/tipper-hire?tipper-type=8-wheel-insulated-body" value="/road-haulage/tipper-hire#8-wheel-insulated-body" />
		<add key="/haulage/road-haulage/tipper-hire?tipper-type=artic-bulker-hire" value="/road-haulage/tipper-hire#artic-bulker-hire" />
		<add key="/haulage/road-haulage/tipper-hire?tipper-type=artic-steel-body" value="/road-haulage/tipper-hire#artic-steel-body" />
		<add key="/haulage/road-haulage/tipper-hire?tipper-type=artic-insulated-body" value="/road-haulage/tipper-hire#artic-insulated-body" />
		<add key="/haulage/plant-services" value="/plant-services" />
		<add key="/haulage/plant-services/plant-hire" value="/plant-services/plant-hire" />
		<add key="/haulage/rail-haulage" value="/rail-haulage" />
		<add key="/haulage/road-haulage/non-tipping-conveyor-floor-hire" value="/road-haulage/non-tipping-conveyor-floor-hire" />
		<add key="/haulage/road-haulage/tipper-hire" value="/road-haulage/tipper-hire" />
		<add key="/road-and-rail-haulage" value="/haulage-services" />
		<add key="/road-and-rail-haulage/low-loader" value="/plant-services/low-loader-hire" />
		<add key="/road-and-rail-haulage/non-tipping-articulated-vehicles" value="/road-haulage/non-tipping-conveyor-floor-hire" />
		<add key="/services/plant-hire" value="/plant-services/plant-hire" />
		<add key="/locations?location-name=roudham" value="/locations#location-roudham" />
		<add key="/locations?location-name=brandon" value="/locations#location-brandon" />
		<add key="/locations?location-name=lakenheath" value="/locations#location-lakenheath" />
		<add key="/news/ukfirstforrjh" value="/news/uk-first-for-rjh" />
		<add key="/news/surfacedressinginnovation" value="/news/surface-dressing-innovation" />
		<add key="/news/success-with-dc-rail" value="/news/dc-rail-success" />
		<add key="/responsibilities/privacy-policy" value="/privacy-policy" />
		<add key="/responsibilities/terms-and-conditions" value="/terms-and-conditions" />
	</rewriteMap>
</rewriteMaps>