<configuration>
	<system.webServer>
		<rewrite>
			<rewriteMaps configSource="rewritemaps.config"></rewriteMaps>
			<rules>
				<rule name="Redirect rule1 for Redirects">
					<match url=".*" />
					<conditions>
						<add input="{Redirects:{REQUEST_URI}}" pattern="(.+)" />
					</conditions>
					<action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>