<div class="partners-slider">
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="fors-gold", ImageDescription = "Fleet operator recognition gold accreditation", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="fta-member", ImageDescription = "Freight transport association member", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="road-haulage-association", ImageDescription = "Road haulage association membership", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="trade-assurance-scheme", ImageDescription = "Rory J Holbrook is a member of the trade assurance scheme", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="avetta-member", ImageDescription = "Rory J Holbrook meets the avetta business management standards", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="construction-line", ImageDescription = "Pre-qualified construction line company", IncludeOtherSizes = false}'/>
</div>