<div class="partners-slider">
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="cemex", ImageDescription = "Cemex partnership", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="tarmac", ImageDescription = "Tarmac partnership", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="bardo-midlands", ImageDescription = "Bardo Midlands partnership", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="colas", ImageDescription = "Colas Partnership", IncludeOtherSizes = false}'/>
    <partial name='partials/_image' model='new RJHWebsite.Models.ImageModel(){ ImageClassName = "small-box-slider-img",ImageName="lagan-construction-group", ImageDescription = "Pre-qualified construction line company", IncludeOtherSizes = false}'/>
</div>