*:not(i) {
    font-family: 'Roboto Condensed', sans-serif;
}

/*#region TEXT SIZES*/
h1,.f1 {
    font-size: var(--font-size-1);
}
h2,.f2 {
    font-size: var(--font-size-2) ;
}
h3,.f3 {
    font-size: var(--font-size-3) ;
}
h4,.f4{
    font-size: var(--font-size-4) ;
}
h5,.f5 {
    font-size: var(--font-size-5) ;
}
h6,.f6{
    font-size: var(--font-size-6) ;
}
p,.f7 {
    font-size: var(--font-size-7);
}
@media only screen and (max-width:560px) {
    h1,.f1 {
        font-size: var(--font-size-2);
    }
    h2,.f2 {
        font-size: var(--font-size-4);
    }
    h3,.f3 {
        font-size: var(--font-size-5);
    }
    h4,.f4 {
        font-size: var(--font-size-5);
    }
    h5,.f5 {
        font-size: var(--font-size-6);
    }
    h6,.f6 {
        font-size: var(--font-size-7);
    }
    p,.f7{
        font-size: var(--font-size-8);
    }
}
/*#endregion TEXT SIZES*/

/*#region PADDING & MARGINS*/
.p-lg {
    padding: var(--p-lg) !important;
}
.p-md{
    padding:var(--p-md)!important;
}
.p-sm {
    padding:var(--p-sm)!important;
}
.left-right-padding-sm {
    padding-left: 4% !important;
    padding-right: 4% !important;
}
.left-right-margin-sm {
    margin-left: 4% !important;
    margin-right: 4% !important;
}
.left-right-padding {
    padding-left: 8% !important;
    padding-right: 8% !important;
}
.left-right-margin {
    margin-left: 8% !important;
    margin-right: 8% !important;
}
.left-right-padding-md {
    padding-left: 12% !important;
    padding-right: 12% !important;
}
.left-right-margin-md {
    margin-left: 12% !important;
    margin-right: 12% !important;
}
.left-right-padding-lg {
    padding-left: 20% !important;
    padding-right: 20% !important;
}
.left-right-margin-lg {
    margin-left: 20% !important;
    margin-right: 20% !important;
}
.top-bottom-padding {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}
    .top-bottom-padding-sm{
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    @media only screen and (max-width:1000px) {
        .left-right-padding, .sidebar-contents, footer {
            padding-left: 3% !important;
            padding-right: 3% !important;
        }
        .left-right-margin {
            margin-left: 3% !important;
            margin-right: 3% !important;
        }
}
@media only screen and (max-width:750px) {
    .top-bottom-padding {
        padding-top: 35px !important;
        padding-bottom: 35px !important;
    }
}
@media only screen and (max-width:650px) {
    .top-bottom-padding {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}
@media only screen and (max-width:580px) {
    .top-bottom-padding {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}
.plr-0, .row-plr-0 [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
/*#endregion*/

/*#region BACKGROUNDS*/
.highlight-element{
    transition:.5s all;
    outline:10px solid var(--yellow);
}
.faded-img-behind {
    background-image: url("/images/8-wheelers-artics-faded.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-dark-red {
    background-color: var(--dark-red);
}
.bg-red {
    background-color: var(--red);
}
.bg-light-blue{
    background-color:var(--light-blue);
}
.bg-light-light-blue {
    background-color: var(--light-light-blue);
}
.bg-blue {
    background-color: var(--blue);
}
.bg-light-light-grey {
    background-color: var(--light-light-grey);
}
/*#endregion BACKGROUNDS*/

/*#region TEXT COLORS*/
.body-title{
    font-weight:bold;
    color:var(--blue);
    padding-bottom:10px;
}
.text-blue {
    color: var(--blue) !important;
}
.text-dark-red {
    color:var(--dark-red);
}
.text-light-light-red {
    color: var(--light-light-red);
}
.text-light-light-blue {
    color: var(--light-light-blue);
}
/*#endregion TEXT SIZES*/

/*#region BUTTONS*/
.btn p{
    margin-bottom:0!important;
}
.btn {
    border-radius: 0px !important;
    padding: 10px !important;
}
.btn-dark-red {
    background-color: var(--dark-red);
    color: white;
}
    .btn-dark-red:hover {
        background-color: var(--dark-dark-red);
        color: white;
    }
.btn-standard {
    background-color: #e3e3e3 !important
}
    .btn-standard:hover, .btn-standard:focus, .btn-standard:active {
        background-color: #bdbdbd !important
    }
.btn-green {
    background-color: var(--green);
    color: white !important;
}
    .btn-green:hover, .btn-green:focus, .btn-green:active {
        background-color: var(--dark-green);
    }
.btn-blue {
    background-color: var(--blue);
    color: white!important;
}
    .btn-blue:hover, .btn-blue:focus, .btn-blue:active {
        background-color: var(--dark-blue);
    }
.btn-turquoise {
    background-color: var(--turquoise)!important;
    color: white !important;
}
    .btn-turquoise:hover, .btn-turquoise:focus, .btn-turquoise:active {
        background-color: var(--dark-turquoise)!important;
    }
.btn-light-blue {
    background-color: #c7e2ff !important;
}
    .btn-light-blue:hover, .btn-light-blue:focus, .btn-light-blue:active {
        background-color: #b0d6ff !important;
    }

.bg-lightblue {
    background-color: rgba(21,95,169,0.3) !important;
}
/*#endregion BUTTONS*/


/*#region JQUERY VALIDATION*/
.field-validation-error, .error {
    font-size:var(--font-size-7);
    color: var(--red);
}
/*#endregion*/

/*#region VIDEOS*/
.video {
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    height:inherit;
}

@media only screen and (max-width:500px) {
    .video {
        background-size: 90% 100%;
        background-position-x: 49%;
        background-color: var(--dark);
        width: 190%;
        right: -150px;
        left: unset !important;
    }
}
.video-container {
    width: 100%;
    position: relative;
    aspect-ratio: 2.72/1;
    height: 36.5vw;
    overflow: hidden;
}
@media only screen and (max-width:500px) {
    .video-container {
        aspect-ratio: 1.6/1 !important;
        height:60vw;
    }
}
/*#endregion VIDEOS*/

/*#region ICONS*/
.fa-phone{
    transform:rotate(90deg);
}
/*#endregion*/

/*#region SIZING*/
@media only screen and (min-width:991px) {
    .w-lg-75 {
        width: 75% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
}
/*#endregion*/

/*#region POSITIONING*/
.img-in-text {
    object-fit: cover;
    width: 400px;
    height: auto;
}
.img-embedded-left {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}
.img-embedded-right {
    float: right;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 1100px) {
    .img-in-text {
        width: 250px;
    }
    .img-embedded-left {
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .img-embedded-right {
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.v-center-outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.v-center-middle {
    display: table-cell;
    vertical-align: middle;
}
.v-center-inner {
    margin-left: auto;
    margin-right: auto;
}
.ml-img-overlay{
    padding-left:10%;
    width:87%;
}
.img-overlay-title {
    text-transform: uppercase !important;
    font-weight: bold;
    color:white!important;
}
.img-overlay-text {
    color: var(--light-light-grey);
    margin-bottom:0!important;
    width:45%;
}
.img-overlay-btn{
    margin-top:10px!important;
}

@media only screen and (max-width: 700px) {
    .xl-img-overlay-text {
        font-size:var(--font-size-9);
    }
    .img-overlay-btn {
        margin-top: 5px !important;
    }
    .img-overlay-title {
        margin-bottom: 5px !important;
    }
    .ml-img-overlay {
        padding-left: 4%;
        width: 93%;
    }
    .img-in-text {
        width: 150px;
    }
    .img-embedded-left {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .img-embedded-right {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/*#endregion*/
/*#region LAYOUT SHARED*/
.loader {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index:30;
}
.loader-sm *{
    margin-top:5px;
}
.loader-sm .loading-spinner, .loader-sm .loading-text {
    text-align: center;
    display: block;
    color: white;
}
#scroll-up-btn {
    z-index: 1000;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 10px 16px !important;
    background-color: rgba(0,0,0,.8);
    display: none;
    cursor: pointer;
    color: white !important;
}
    #scroll-up-btn:hover, #scroll-up-btn:active, #scroll-up-btn:focus{
        background-color:black!important;
    }
    #scroll-up-btn i{
        font-size:var(--font-size-1);
    }
@media only screen and (max-width:750px) {
    #scroll-up-btn{
        padding:5px 8px!important;
        right:0px;
        bottom:82px;
    }
        #scroll-up-btn i {
            font-size: var(--font-size-2);
        }
}
.white-hr {
    border-top: var(--white-hr);
}
/*Mobile Nav*/
.mobile-nav-bar {
    position: fixed;
    bottom: 0;
    border-top:1px solid var(--light-grey);
    background-color: white;
    z-index:1000;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(4, auto);
}
.mobile-nav-bar a{
    padding:10px 0px;
}
    .mobile-nav-bar a:active, .mobile-nav-bar :after, .mobile-nav-bar a:focus{
         background-color:var(--light-light-blue);
    }
    .mobile-nav-bar i {
        font-size: var(--font-size-3);
        margin-bottom: 5px
    }
    .mobile-nav-bar span {
        font-size: var(--font-size-7);
    }
    .mobile-nav-bar i, .mobile-nav-bar span {
        color: var(--dark);
        display: block;
        text-align: center;
    }

   @media only screen and (min-width:750px) {
       .mobile-nav-bar{
           display:none;
       }
   }
   /*mobile search*/
#mobile-search-box-container {
    background-color: var(--light-light-blue);
}
.toggle-small-screen-search {
    position: fixed;
    top: 72px;
    right: 0;
    color: white;
    cursor: pointer;
    display: none;
    background-color: var(--blue);
    border:1px solid var(--light-blue);
    z-index:15;
}
#small-screen-search {
    display: none;
    border: 1px solid #c9c9c9;
    position: fixed;
    top: 70px;
    z-index:15;
}
.search-show {
    display: inline-block !important;
}
.search-close {
    top: 132px;
}
    .search-close .fa-chevron-down {
        transform: rotate(180deg);
    }
@media only screen and (max-width:991px) {
    .toggle-small-screen-search {
        display: block;
    }
}

#searchButton {
    background-color: rgb(21,95,169) !important;
}
/*#endregion*/
/*#region NavHeader*/
.oswald {
    font-family: 'Oswald', sans-serif;
}
#mobile-rory-logo-container {
    float: right;
    display: none;
    margin-left:5px;
}
.mobile-logo-img{
    height:50px;
    width:auto;
}
.nav-link {
    color: white !important;
}
.active .nav-link {
    color: black !important;
}
.navbar-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 200px;
    grid-template-rows: auto;
}
.navbar-logo {
    grid-column: 1/2
}
.navbar-social {
    grid-column: 2/3;
}
.navbar-search {
    grid-column: 3/4;
    align-content: end;
}
.navbar-fors {
    grid-column: 4/5;
    margin: auto;
}
#nav-icon3 {
    padding: .25rem .75rem;
}
#header-content, #nav-container {
    width: 96% !important;
    margin: auto !important;
    transition: 0.2s;
}
.logo-img {
    margin: 15px 0px 15px 0px;
    height: 80px;
    width: auto;
    cursor: pointer;
    transition: 0.2s;
}
.social-text {
    color:black!important;
    margin-bottom: 0 !important
}
#social-content {
    justify-content: center;
    margin-top: 40px;
    transition: .2s;
}
.social-icon-img {
    height: 30px;
    width: auto;
    padding: 0px 8px 0px 8px;
    transition: .2s;
    cursor: pointer;
}
    .social-icon-img:hover {
        transform: scale(1.4);
    }
#searchButton{
    background-color:var(--blue)!important;
}
.fors-gold {
    display: inline;
    width: 175px;
    padding-left: 25px;
    height: auto;
}
@media only screen and (max-width:1350px) {
    .navbar-grid-container {
        grid-template-columns: auto auto auto 200px;
        grid-template-rows: auto auto;
    }

    .navbar-logo {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .navbar-social {
        grid-column: 1/5;
        grid-row: 2/3;
        padding: 10px;
        margin-left: auto;
    }

    #social-content {
        margin-top: -5px !important;
        padding-bottom: 10px;
    }

    .navbar-search {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .navbar-fors {
        grid-column: 4/5;
        grid-row: 1/2;
    }
}
@media only screen and (max-width:1220px) {
    .logo-img {
        height: 60px;
    }
    .social-icon-img {
        height: 30px;
    }
}
#search-box-container {
    margin-top: 25px;
}
@media only screen and (max-width:1200px) {
    #search-box-container {
        margin-top: 15px;
    }
}
@media only screen and (max-width:500px) {
    .mobile-logo-img{
        height:38px!important;
    }
}
/*#endregion NavHeader*/
/*#region Main NavBar*/
/*hamburger*/
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 35px;
    height: 35px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: white;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

        #nav-icon3 span:nth-child(1) {
            top: 2px;
        }

        #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
            top: 15px;
        }

        #nav-icon3 span:nth-child(4) {
            top: 28px;
        }

    #nav-icon3.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
/*main css in mega-menu.css{}*/
.enquiry-list {
    color: white;
    position: absolute;
    right: 8px;
}
.has-items.enqury-list-no-items, .enquiry-list-contents:not(.has-items) .enquiry-list-has-items {
    display: none!important;
}
.has-items.enquiry-list-has-items, .enquiry-list-contents:not(.has-items) .enquiry-list-no-items {
    display: block!important;
}
.enquiry-list-item-hr:last-child{
    display:none;
}
.enquiry-items-container {
    padding: 10px;
    max-height:65vh;
    overflow-y: scroll;
    box-shadow: var(--shadow-1);
}
#enquiry-list-count {
    position: absolute;
    top: 8px;
    font-size: var(--font-size-6);
}
.enquiry-list-contents {
    display:none;
    position: absolute;
    width: max-content;
    top: 51px;
    z-index: 10000;
    color: black;
    right: 16px;
    background-color: white;
    box-shadow:var(--shadow-2);
    padding: 10px;
    z-index:20;
}
.enquiry-list-title{
    font-size:var(--font-size-6);
    color:var(--blue);
}
.enquiry-list-no-items {
    display: none;
}
.enquiry-list-close-btn {
    position: absolute;
    top: 0px;
    padding: 8px 8px 15px 15px;
    cursor: pointer;
    right: 0px;
    font-size: var(--font-size-6);
}
    .enquiry-list-close-btn:hover{
        color:var(--blue);
    }
.aggregate-enquiry-list-item-container{
    display:flex;
    align-items:center;
}
.enquiry-list-quantity {
    margin-left: auto;
}
.enquiry-list-quantity-input {
    -webkit-appearance: none !important;
    -moz-appearance: textfield !important;
    margin: 0 !important;
    margin-left: 10px!important;
}
.quantity-input {
    width: 70px !important;
    display:inline-block;
}
.enquiry-list-quantity-text {
    padding-left: 5px;
}
.enquiry-list-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 10px;
}
.enquiry-list-aggregate-name{
    text-transform:capitalize;
}
/*#endregion Main NavBar*/
/*#region Footer*/
footer{
    padding:30px
}
.footer-header ~ hr {
    border-top: var(--white-hr);
}
.footer-header, .footer-header a, .footer-link {
    color: white!important;
}
.footer-text, .footer-text a:not(.btn) {
    color: var(--light-light-blue) !important;
}
.footer-text-ul{
    padding-left:0!important;
}
    .footer-text-ul li {
        list-style-type: none;
    }
    .footer-text-ul li a:hover p{
        color:white;
    }
    .footer-text-ul li p {
        margin-bottom:0!important;
        display:inline;
        color:var(--light-light-blue);
    }
.footer-social-icon:not(:last-child){
    margin-right:10px;
}
.footer-small-img {
    border-radius: 100%;
    border: 1px solid rgba(255,255,255,0.4);
    display: inline;
    width: 45px !important;
    height: 45px !important;
    margin-bottom: 10px;
}
/*#endregion Footer*/
/*#endregion LAYOUT*/
/*#region SHARED*/
/*#region Sliders*/
.partners-slider-container img, .industry-standards-slider-container img {
        height: 91px !important;
        width: auto !important;
    }
.small-box-slider-img {
    height: 100%;
    width: auto;
    margin: 3px 15px;
    box-shadow: var(--shadow-1)
}
/*#endregion*/
/*#region Breadcrumbs*/
.breadcrumb {
    background-color: transparent !important;
}
.breadcrumb-item a {
    color: #007bff;
}
.breadcrumb-item.active a {
    color: black !important;
}
@media only screen and (max-width: 1250px) p {
    .breadcrumb-item {
        font-size: 16px !important;
    }
}
@media only screen and (max-width: 981px) {
    .breadcrumb-item {
        font-size: 14px !important;
    }
}
/*#endregion*/
/*#region Page Image & Title*/
.main-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
}
.page-name {
    text-transform:uppercase;
    padding: 20px 0px;
    background-color: var(--dark);
    border-bottom:1px solid rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    grid-column: 1/3;
    position: sticky;
    position: -webkit-sticky;
    top: var(--navbar-height);
    z-index: 100;
}
.page-name *{
    margin-bottom:0!important;
    font-size:var(--font-size-1);
}
@media only screen and (max-width:1251px) {
    .page-name {
        top: 57px;
    }
}
@media only screen and (max-width:991px) {
    .page-name {
        top: 60px;
    }
    .main-img {
        width: 100%;
        height: 250px;
    }
}
@media only screen and (max-width:770px) {
    .page-name {
        padding:13px 0px;
        top:68px;
    }
}
@media only screen and (max-width:562px) {
    .page-name * {
        margin-bottom: 0 !important;
        font-size: var(--font-size-2)!important;
    }
}
/*#endregion*/
/*#region TILES*/
.related-pages-tiles-container{
    display:grid;
    grid-template-columns:repeat(3,33.33%);
}
.tile-square-diagonal {
    border: 10px solid #262626;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
    background-color: #262626;
    width:96%;
    margin-bottom:10px;
}
.tile-square-diagonal:hover {
    border: 10px solid white;
}
    .tile-square-diagonal-img{
        width:100%;
        height:auto;
        object-fit:cover;
    }
    .tile-square-diagonal-btn {
        position: absolute;
        bottom: 0;
        width: 80%;
        background-image: -webkit-linear-gradient(20deg, black 80%, #146DC7 0%);
        padding-left: 30px !important;
        color: white;
        font-size: 28px;
        padding: 20px;
        background-image: -webkit-linear-gradient( 16deg, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0) 0%);
    }
@media only screen and (max-width:1350px) {
    .tile-square-diagonal-btn {
        font-size: 24px;
    }
}
@media only screen and (max-width:1150px) {
    .tile-square-diagonal-btn {
        padding-left: 15px !important;
        width: 100%;
        font-size: 20px;
        padding: 10px;
    }
}
@media only screen and (max-width:700px) {
    .tile-square-diagonal-btn {
        padding: 8px;
        font-size: 16px;
        background-image: -webkit-linear-gradient( 16deg, rgba(0,0,0,0.7) 90%, rgba(0,0,0,0) 0%);
    }
    .related-pages-tiles-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
.tile-text-above-container, .tile-text-above-container img, .tile-text-above-img {
    transition: .5s ease;
    overflow: hidden;
    display: grid;
    height: 100%;
    margin-right: 5%;
}
    .tile-text-above-container:hover img {
        transform: scale(1.15);
        overflow: hidden !important;
    }
.tile-text-above-img {
    object-fit:cover;
    width: 100% !important;
}
.tile-text-above-text{
    font-size:var(--font-size-6);
    position:relative;
    padding:10px;
    margin-bottom:0!important;
    top:0;
    z-index:1000;
    background-color:var(--dark);
    color:var(--light-light-light-blue);
}
/*]endregion TILES*/
/*#region Navigation Pages (about, construction, haulage etc)*/
.nav-page-tile-container {
    width: 30.6%;
    display: inline-block;
    position: relative;
    margin: 1%;
}
.nav-page-main-image-container {
    grid-column: 1/3;
}
@media only screen and (max-width:1400px) {
    .nav-page-grid-container {
        grid-template-columns: 1fr 0.4fr !important;
    }
}
@media only screen and (max-width:1200px) {
    .nav-page-tile-container {
        width: 47%;
    }
}
@media only screen and (max-width:950px) {
    .nav-page-tile-container {
        width: 30.6%;
    }
}
@media only screen and (max-width:768px) {
    .tile-square-zoom-img {
        height: 180px !important;
    }
}
@media only screen and (max-width:550px) {
    .nav-page-tile-container {
        width: 47%;
    }
}
.tile-square-zoom {
    overflow: hidden;
}
.tile-square-zoom-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: .5s ease;
    overflow: hidden;
}
    .tile-square-zoom-img:hover {
        transform: scale(1.15);
        overflow: hidden !important;
    }
.tile-square-zoom-zoom {
    transform: scale(1.15);
    overflow: hidden !important;
}
.tile-square-zoom-btn {
    display: none !important;
}
.tile-square-zoom-dropdown {
    text-align: left;
    background-color: rgba(0,0,0,0.8);
    color: white;
    padding: 20px 0px 20px;
    position: absolute;
    bottom: 0px;
    transition: 1s all;
    width: 100%;
}
.tile-square-zoom-dropdown, .tile-square-zoom-btn {
    padding-left: 10px;
}
.tile-square-zoom:hover .tile-square-zoom-btn {
    display: inline-block !important;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
/*#endregion*/
/*#region RESPONSIBILITIES*/
.responsibilities-box-body {
    text-align: justify;
    padding:var(--p-md);
}
.download-container a {
    width: 100%;
    color: black !important;
}

.responsibilities-box-container {
    background-color: white;
    text-align: center;
}

.responsibilities-box-header {
    color: #d9d9d9 !important;
    padding: 20px;
    background-color: #343a40 !important;
}

.responsibilities-box-light-blue {
    background-color: rgba(21,95,169,0.1) !important;
    color: #343a40 !important;
}

.responsibilities-box-blue {
    background-color: #b0d8ff !important;
    color: #343a40 !important;
}
/*#endregion*/
/*#region LOCATIONS*/
.locations-box-container{
    padding:var(--p-md);
    background-color:white!important;
    display:block;
    height:100%;
}
/*#endregion*/
/*#region CONTACT*/
.mapWrapper {
    width: 50%;
}
    .mapWrapper iframe {
        width: 100%;
    }
.map {
    width: 100%;
    height: 500px;
    padding:var(--p-md);
    background-color:white;
}
.mapWrapper {
    width: 50%;
    float: left;
}
.contact-loading-text {
    display: none;
}
.contact-form-subject{
    text-transform:capitalize;
}
.contact-form-input:not(:first-child) {
    margin-top: 1.4rem !important;
}
.contact-form-input, .contact-form-input ~ span, .send-email-btn {
    font-size: var(--font-size-7);
}
/*#endregion*/
/*#region LAZY LOAD*/
.lazyload {
    background-color: var(--dark);
}
/*#endregion*/
/*#region NEWS*/
.news-right-img {
    width: 70%;
    height: auto;
}
.all-news-individual-container{
    padding:var(--p-md);
    background-color:var(--light-light-light-blue)!important;
    width:96%;
    display:block;
    height:100%;
}
.news-snippet-wrapper {
   margin-bottom:2rem;
}
@media only screen and (max-width:768px) {
    .all-news-individual-container {
        width: 100%;
    }
}
@media only screen and (max-width:650px) {
    .individual-news-img {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width:575px) {
    .bottom-bar-news-img {
        width: 70%;
        height: auto;
    }
}
/*#endregion*/
/*#region MATERIAL RECYCLING*/
#material-recycling-video {
    background-image: url("/images/construction-material-recycling.jpg");
}
/*#endregion*/
/*#region CAREERS*/
.job-container {
    padding: var(--p-lg);
    height: 100%;
    width: 100%;
    background-color: white;
    display: grid;
    align-content: start;
}
/*#endregion*/